<!--
  Generated template for the QuotesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>quotes</ion-title>
  </ion-navbar>

  

</ion-header>


<ion-content padding>
    <ion-card *ngFor="let item of quotes.quotes">
        <ion-card-header>
          # {{ item.id }}
        </ion-card-header>
        <ion-card-content>
          {{ item.text }}.
          <br>
          <p text-right>{{ item.person }}.</p> 
        </ion-card-content>

        <ion-grid>
          <ion-row no-padding>
            <ion-col text-right>
              <button ion-button clear small color="danger" icon-start (click)="onShowAlert(item)" *ngIf="!unFavorite(item)">
                <ion-icon name="Favourite"></ion-icon>
                Favourite
              </button>
              <button ion-button clear small color="danger" icon-start (click)="deleteFav(item)" *ngIf="unFavorite(item)">
                  <ion-icon name="unFavourite"></ion-icon>
                  unFavourite
                </button>
            </ion-col>
          </ion-row>
        </ion-grid>
        
    </ion-card>
</ion-content>

