<!--
  Generated template for the ModalFavoritePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>modalFavorite</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-card *ngFor="let item of favoriteCollection">
        <ion-card-header>
          # {{ item.id }}
        </ion-card-header>
        <ion-card-content>
          {{ item.text }}.
          <br>
          <p text-right>{{ item.person }}.</p> 
        </ion-card-content>

        <ion-grid>
          <ion-row no-padding>
            <ion-col text-center>
              <button ion-button clear small color="danger" icon-start (click)="deleteFav(item)" *ngIf="unFavorite(item)">
                  <ion-icon name="unFavourite"></ion-icon>
                  unFavourite
                </button>
            </ion-col>
          </ion-row>
        </ion-grid>
        
    </ion-card>
    <ion-row>
      <ion-col text-center>
        <button ion-button color="danger" large (click)="closeModal()">Close</button>
      </ion-col>
    </ion-row>

</ion-content>
