<!--
  Generated template for the TabsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <ion-buttons start>
          <button ion-button menuToggle >
            <ion-icon name="menu"></ion-icon>
          </button>
      </ion-buttons> 
    <ion-title>tabsPage</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

</ion-content>
