<!--
  Generated template for the SkripsiPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Pendataan Skripsi</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="skrispsiForm" >
    <ion-list>
      <ion-list-header color='primary'>
        Data Diri
      </ion-list-header>
      <ion-item>
        <ion-label fixed>Nama</ion-label>
        <ion-input type="text" placeholder="Nama" formControlName="nama"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>NIM</ion-label>
        <ion-input type="text" placeholder="NIM" formControlName="nim"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Judul Skripsi</ion-label>
        <ion-input type="text" placeholder="Judul Skripsi"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Class of</ion-label>
        <ion-select formControlName="classOf">
          <ion-option value="2017">2017</ion-option>
          <ion-option value="2016">2016</ion-option>
          <ion-option value="2015">2015</ion-option>
          <ion-option value="2014" selected>2014</ion-option>
        </ion-select>
      </ion-item>
      <ion-list-header color='primary'>
        PEMBIMBING
      </ion-list-header>
      <!-- <ion-item>
        <ion-label fixed>Nama #1</ion-label>
        <ion-input type="text" placeholder="Pembimbing #1" formControlName="pembimbing1"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Nama #2</ion-label>
        <ion-input type="text" placeholder="Pembimbing #2" formControlName="pembimbing2"></ion-input>
      </ion-item>-->
      <ion-list formArrayName="pembimbingStatus" >
       <button ion-button clear (click)="add()">Tambah</button> 
        <ion-item *ngFor="let itm of data; let idx = index">
          <ion-label fixed>{{ itm.label }} {{ idx }}</ion-label>
          <ion-input  formControlName="{{idx}}" placeholder="{{ itm.label }} {{ idx }}"></ion-input>
        </ion-item>
        <!-- <ion-item>
          <ion-label fixed>Pembimbing 2</ion-label>
          <ion-input  formControlName="1" placeholder="Pembimbing #2"></ion-input>
        </ion-item> -->
      </ion-list>

      
        <ion-item>
          <ion-checkbox checked="false" value="lintasProdi" text-left formControlName="lintasProdi"></ion-checkbox>
          <ion-label>Lintas Prodi</ion-label>
        </ion-item>

      
    </ion-list>
    <button ion-button (click)="onSubmit()" block >Register me</button>
  </form>

</ion-content>