<!--
  Generated template for the ModalSkripsiPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>modalSkripsi</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    

    <ion-list *ngFor="let item of data">
        <ion-item>
            <ion-label fixed>Nama</ion-label>
            <ion-input value="{{ item.nama }}"></ion-input>
        </ion-item>
          <ion-item>
            <ion-label fixed>NIM</ion-label>
            <ion-input value="{{ item.nim }}."></ion-input>
          </ion-item>
          <ion-item>
              <ion-label fixed>Class Of</ion-label>
              <ion-input value="{{ item.classOf }}."></ion-input>
            </ion-item>
          <ion-item>
            <ion-label fixed>Nama Pembimbing</ion-label>
            <ion-input value="{{ item.pembimbingStatus }}."></ion-input>
          </ion-item>
        
    </ion-list>

</ion-content>
