<!--
  Generated template for the FavoritPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Favorit Quote</ion-title>
    <ion-buttons start>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

    

    <ion-list >
        <ion-item-sliding  *ngFor="let item of favoriteCollection">
        <ion-item (click)="showAlert(item)" [color]="setBgColor()">
        
        <h2> {{ item.text }}.</h2>
        <h2>{{ item.person }}.</h2>
        
        </ion-item>
        <ion-item-options side="right">
        <button ion-button color="danger" (click)="deleteFav(item)">
        <ion-icon name="trash"></ion-icon>
        Delete
        </button>
        
        </ion-item-options>
        </ion-item-sliding>
    </ion-list>


</ion-content>
